body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.grid {
  display: flex;
}

.text-center {
  text-align: center;
}

.contact {
  text-align: center;
  margin: 200px auto;
}

.profile {
  border-radius: 50%;

  margin-bottom: 10px;
}

.font {
  font-size: 100px;
}

.social {
  font-size: 30px;
}

.about {
  margin-top: 150px;
}
